.DS_Store

application/maarti
application/maarti/*
application/football
application/football/*
application/basketball/cache/*
!application/basketball/cache/index.html
!application/basketball/cache/.htaccess

application/basketball/logs/*
!application/basketball/logs/index.html
!application/basketball/logs/.htaccess
application/basketball/config/database.php
application/basketball/config/config.php

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

nbproject/
.svn
.travis.yml